<banner [page]="'Contact'"></banner>
<container>
  <h1 [ngStyle]="{ 'margin-top': '30px', 'text-align': 'center' }">
    Shalew Events is located in Northern Westchester, New York, and we proudly
    serve all of New York, New Jersey, Connecticut and we are also willing to
    travel!. We provide our clients with full service event planning, styling,
    and seamless execution to ensure your event is memorable for you and your
    guests.
  </h1>
  <div class="contact_container">
    <contact-info></contact-info>
    <contact-form></contact-form>
  </div>
  <contact-map></contact-map>
</container>
